<!-- Start Top Header Bar -->
<header>

    
    <div id="sale">
      <video autoplay muted preload loop src="https://cdn.videvo.net/videvo_files/video/free/2015-03/large_watermarked/fire_background_loop2_videvo2_preview.mp4"></video>
    <h1 id="salet">DARB</h1>
    
</header><!-- End Top Header Bar -->