    <!-- Main Menu Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/como-comprar">Como comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sobre-nosotros">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                </ul>
                <!--<div class="col-md-4 col-xs-12 col-sm-4 d-flex justify-content-end align-items-center">-->
                {{#if logueado}}
                    <a href="/logout"><button type="button" class="btn btn-outline-danger">LOGOUT: {{usuario}} </button></a> | <a href="/admin"><button type="button" class="btn btn-outline-primary">ADMIN</button></a>
                {{else}}
                <a href="/login"><button type="button" class="btn btn-outline-success">LOGIN</button></a>
                {{/if}}
            <!--</div>-->
            </div>
        </div>
    </nav>