<!DOCTYPE html>
<html lang="en">

<head>
  {{> head}}
</head>

<body class="login">


  <main class="form-signin">
    <br><br><br><br><br><br>

    {{#if error}}
      <div class="text-center alert alert-danger" role="alert" >{{error}}</div>
    {{/if}}
    <form action="login" method="post">
      <h1 class="h3 mb-3 text-center">Acceso al panel de control</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="username" placeholder="name@example.com" name="username">
        <label for="username">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password">
        <label for="password">Contraseña</label>
      </div>


      <button class="w-100 btn btn-lg btn-info" type="submit">Entrar</button>
    </form>

    <a href="/admin">IR A ADMIN (MODO DEV)</a>

  <div id="loginsale">
      <video id="loginvideo" autoplay muted preload loop src="https://cdn.videvo.net/videvo_files/video/free/2015-03/large_watermarked/fire_background_loop2_videvo2_preview.mp4"></video>
    <h1 id="loginsalet">DARB</h1>
  </div>  

</main>

</body>

</html>